footer{
    background-color: #000000;
    padding: 0;
}

footer img{
    padding: 0;
    margin: 15px 0px -4px 0px;
}
#footer_items{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 14px 8%;
    align-items: center;
    background-color: #24252a;
}

#copyright{
    color: #767272;
    font-weight: 500;
}